table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
}
  

th {
    background-color: #2b2b2b;
    color: #ccc;
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}
  
td {
    color: #fff;
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.head_div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

button {
    max-width: 80px;
    max-height: 50px;
    padding: 0.8em;
}

.ataque_bt {
    border-radius: 8px 0px 0px 8px;
}

.defensa_bt {
    border-radius: 0px 8px 8px 0px;
}