.Scoreboard {
    padding: 1.5rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #555;
}
th {
    background-color: #777;
    color: #eee;
    border: 2px solid #555;
    padding: 8px;
    text-align: left;
} 
td {
    color: #555;
    border: 2px solid #555;
    padding: 8px;
    text-align: left;
}

.head_div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

button {
    max-width: 80px;
    max-height: 50px;
    padding: 0.8em;
}

.ataque_bt {
    border-radius: 8px 0px 0px 8px;
}
.defensa_bt {
    border-radius: 0px 8px 8px 0px;
}

#pressBt {
    background-color: #ddd;
    color: #333;
    cursor: default;
}
#unpressBt {
    background-color: #777;
    color: #333;
}

@media (prefers-color-scheme: dark) {
    table {
        border-color: #ccc;
    }   
    th {
        background-color: #4d4d4d;
        color: #ccc;
        border-color: #ccc;
    }     
    td {
        color: #fff;
        border-color: #ccc;
    }
    #pressBt {
        background-color: #555;
        color: #ddd;
    }
    #unpressBt {
        background-color: #333;
        color: #777;
    }
  }